{% extends "partials/base.njk" %}
{% block main %}
<section>
<h1>Category</h1>
<a class="btn btn-primary" role="button" href="/bookmark/category">Manage Category</a>
<form action="/bookmark/category/{% if labels %}edit/{{labels.id}}{% else %}new{% endif %}" method="post">
  <div class="form-group">
    <label for="formGroupExampleInput">Label</label>
    <input type="text" class="form-control" name="ln" placeholder="Label name" value="{{labels.labelName}}">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Label color</label>
    <input class="form-control" type="color" value="{{labels.labelColor}}" name="lc">
  </div>
  <button type="submit" class="btn btn-primary">{% if labels %} Update {% else %} Submit {% endif %}</button>
  {% if labels %}
  <a class="btn btn-primary" href="/bookmark/category/delete/{{labels.id}}" role="button">Delete</a>
  {% endif %}
</form>
{% endblock %}